asgiref==3.8.1
Django==5.1.7
psycopg2-binary==2.9.10
sqlparse==0.5.3
tzdata==2025.1
python-dotenv==1.0.1
django-cors-headers==4.3.1
djangorestframework==3.14.0
django-filter==24.1
redis==5.0.3
django-redis==5.4.0
channels==4.0.0
channels-redis==4.2.0
daphne==4.1.0
gunicorn==21.2.0
xlsxwriter==3.2.2
plotly==5.19.0
pandas==2.2.1
numpy==1.26.4
Pillow==10.2.0
reportlab==4.0.4